<div class="category-tags-box clearfix">
	
	<h4>Categorías</h4>
	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/categorias/#articulo" title="Artículo" rel="{{ site.categories.articulo.size }}">Artículo ({{ site.categories.articulo.size }})</a>
	</div>

	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/categorias/#configuracion" title="Configuración" rel="{{ site.categories.configuracion.size }}">Configuración ({{ site.categories.configuracion.size }})</a>
	</div>
</div>

<div class="category-tags-box clearfix">
	<h4>Etiquetas</h4>
	{% for tag in site.tags %}
	  	<div class="category-tags-box-field">
	    	<a href="{{ site.baseurl }}/blog/etiquetas/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
	    </div>
	{% endfor %}
</div>
