<!-- Start Google Sitelinks -->
<script type="application/ld+json">
	{ "@context" : "https://schema.org",
		"@type" : "WebSite",
		"name" : "Gestor de Configuración de Software",
		"url" : "http://ishmilan.github.io",
		"sameAs" : ["https://www.twitter.com/ish_milan",
	  				"https://www.linkedin.com/in/ismaelmilan"],
	  	"potentialAction": {
	    	"@type": "SearchAction",
     		"target": "https://query.ishmilan.github.io/search?q={search_term_string}",
     		"query-input": "required name=search_term_string"
   		}
	}
</script>
<!-- End Google Sitelinks -->	
