//
// VARIABLES
//

// Colors
$blue: #4183C4;
$orange: #FF4D09;
$bluegray:#263238;

// Grays
$black: #212121;
$darkerGray: #333;
$darkGray: #666;
$gray: #999;
$lightGray: #eee;
$white: #fff;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
