<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="{{ site.avatar }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.avatar }}">
    <meta name="msapplication-TileColor" content="#DCDCDC" />
    <meta name="msapplication-TileImage" content="{{ site.avatar }}">
    <meta content="{{ site.avatar }}" itemprop="image">
    <meta content="Ish Milan, administrador de sistemas y desarrollador de software." name="description">
    <link rel="alternate" type="text/html" hreflang="es" href="{{ page.url }}" title="Spanish">
    <link rel="alternate" type="text/html" hreflang="en" href="{{ page.translate_en }}" title="English">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}/" >{{ site.name }}</a></h2>
          </div>
        </header>
        <div class="site-options">
            <nav class="menunav">
              <a href="{{ site.baseurl }}/">Inicio</a>
              <a href="{{ site.baseurl }}/perfil/">Perfil</a>
              <a href="{{ site.baseurl }}/blog/">Blog</a>
              <a href="#" id="contact">Contacto</a>
            </nav>
            <header class="translate clearfix">
                <nav>
                  {% if page.translate_en %}
                    <a href="{{ page.url }}">ES</a> <a href="{{ page.translate_en }}">EN</a>
                  {% endif %}
                </nav>
            </header>
        </div>
        <div class="site-options-btn"><a id="option-toggle" href="#">☰☰</a></div>
      </div>
    </div>

    <div class="container clearfix">
        <div id="start">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
        </div>
      {% if page.sidebar %}

        <div id="main" role="main">
          {{ content }}
        </div>

        <div class="sidebar">
          {% include sidebar.html %}
        </div>

      {% else %}

        <div id="main" role="main" class="container">
          {{ content }}
        </div>

      {% endif %}
    </div>
    <div class="wrapper-footer">
        <footer id="footer">
          {% include svg-icons.html %}
        </footer>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
