<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    {% include meta_en.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description_en }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="{{ site.avatar }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.avatar }}">
    <meta name="msapplication-TileColor" content="#DCDCDC" />
    <meta name="msapplication-TileImage" content="{{ site.avatar }}">
    <meta content="{{ site.avatar }}" itemprop="image">
    <meta content="Ish Milan, sysadmin and software developer." name="description">
    <link rel="alternate" type="text/html" hreflang="es" href="{{ page.translate_es }}" title="Spanish">
    <link rel="alternate" type="text/html" hreflang="en" href="{{ page.url }}" title="English">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}/en/">{{ site.name }}</a></h2>
          </div>
          <nav class="menunav">
            <a href="{{ site.baseurl }}/en/">Home</a>
            <a href="{{ site.baseurl }}/en/profile/">Profile</a>
            <a href="{{ site.baseurl }}/en/blog/">Blog</a>
            <a href="#" id="contact">Contact</a>
          </nav>

        </header>
        <header class="translate clearfix">
          <nav>
            {% if page.translate_es %}
              <a href="{{ page.translate_es }}">ES</a> <a href="{{ page.url }}">EN</a>
            {% endif %}
          </nav>
        </header>
      </div>
    </div>


    <div class="container clearfix">
        <a href="{{ site.baseurl }}/en" class="site-avatar"  id="start"><img src="{{ site.avatar }}" /></a>

      {% if page.sidebar %}

        <div id="main" role="main" class="content">
          {{ content }}
        </div>

        <div class="sidebar">
          {% include sidebar_en.html %}
        </div>

      {% else %}

        <div id="main" role="main" class="container">
          {{ content }}
        </div>

      {% endif %}
    </div>
    <div class="wrapper-footer">
        <footer id="footer">
          {% include svg-icons.html %}
        </footer>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
